h1 {
	background-color: #e8e8f2;
	padding: 20px;
	text-align: center;
	color: #f50ad5;
}
.myNav {
	background-color: #d580e0;
}

.myBody {
	background-image: url("/public/img/fond.jpeg");
	background-size: cover;
}
.myFooter {
	background-color: #d580e0;
}
.bgp {
	background-color: #7b2fd1;
}
.bgb {
	background-color: #0e3698;
}
.bgbc {
	background-color: #86c6f6;
}
.bgg {
	background-color: #e8e8f2;
}